.tableContainer{
    
    margin-left: auto;
    margin-right: auto;

}
#myButton{
    color:aqua
}

#negativeChange{
    color:red;
}

#positiveChange{
    color:green;
}

#mainTable{
height:80px;
width:auto;
margin-left: auto;
margin-right: auto;
}


.tableContainer {
    background-color: rgb(24, 26, 24);
  }
  

#refreshButton{
  margin-left:.5%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(238, 237, 237);
  padding: 3px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#header{
    font-size: 70px;
    font-weight: 600;
    background-image: conic-gradient(#e7e7e7, #ffbeb1, #340077);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
#searchBar{
}